.header{
    background-color: #282723;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header__logo {
    width: 80px;
    margin: 8px 13px;
}

.header__search {
    display: flex;
    flex: 1;
    margin-right: 16px;
}

.header__searchInput {
    height: 32px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}
.header__link {
    color: white;
    text-decoration: none;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}

.savedButton {
    border: 1px dotted #fff;
    padding: 8px;
}